# Welcome!

#### Pandas: Intro Practice Problems

In this homework, you're going to write code for a few problems. 

You'll be practicing these programming concepts we've covered in class:
* Reading data sets into Pandas.
* Filtering, manipulating, and sorting data sets.
* Basic exploratory data analysis with Pandas.

#### #1. Import Pandas with an alias of `pd`.

In [4]:
import pandas as pd

#### #2. Read in the NBA players `csv` into a variable called `nba_df`.

This is a data set of NBA players from 2015. The filename is `NBA_players_2015.csv`.

In [6]:
nba_df=pd.read_csv("NBA_players_2015.csv")

#### #3. Look at the first five rows of the data set.

In [7]:
nba_df.head()

,season_end,player,pos,age,bref_team_id,g,gs,mp,fg,fga,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
0,2015,Quincy Acy,F,24,NYK,52,21,19.2,2.2,4.6,...,15.1,14.7,0.6,0.5,1.0,0.050,-2.6,-0.7,-3.4,-0.3
1,2015,Jordan Adams,G,20,MEM,18,0,7.3,1.0,2.1,...,15.9,17.7,0.0,0.2,0.2,0.076,-2.3,1.8,-0.5,0.0
2,2015,Steven Adams,C,21,OKC,51,50,24.2,3.0,5.5,...,19.2,14.8,1.0,1.8,2.8,0.109,-2.0,2.0,-0.1,0.6
3,2015,Jeff Adrien,F,28,MIN,17,0,12.6,1.1,2.6,...,12.9,14.1,0.2,0.2,0.4,0.093,-2.6,0.8,-1.8,0.0
4,2015,Arron Afflalo,G,29,TOT,60,54,32.5,5.0,11.8,...,10.9,19.6,1.4,0.7,2.1,0.051,-0.2,-1.4,-1.6,0.2

#### #4. Check out the shape of the data set.

In [8]:
print(nba_df.shape)

(478, 49)

#### #5. Run some summary stats on the data set with the `describe()` function.

In [9]:
nba_df.describe()

,season_end,age,g,gs,mp,fg,fga,fg_,x3p,x3pa,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
count,478.0,478.000000,478.000000,478.000000,478.000000,478.000000,478.000000,478.000000,478.000000,478.000000,...,478.000000,478.000000,478.000000,478.000000,478.000000,478.000000,478.000000,478.000000,478.000000,478.000000
mean,2015.0,26.573222,42.104603,19.874477,20.045607,3.018201,6.847699,0.429230,0.630544,1.855649,...,13.424268,18.915272,1.055858,0.971339,2.027197,0.073575,-1.396862,-0.495816,-1.892678,0.485983
std,0.0,4.219585,18.950602,22.170034,9.313441,2.052790,4.386828,0.111007,0.665808,1.790564,...,6.559989,5.493491,1.589667,0.876932,2.243138,0.133530,4.251216,2.299572,5.116001,1.013097
min,2015.0,19.000000,1.000000,0.000000,0.700000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,-2.100000,-0.100000,-0.800000,-1.059000,-36.800000,-13.500000,-50.300000,-1.000000
25%,2015.0,23.000000,27.000000,0.000000,12.600000,1.425000,3.400000,0.391000,0.000000,0.100000,...,10.000000,14.800000,0.000000,0.200000,0.300000,0.040250,-2.800000,-1.600000,-3.300000,-0.100000
50%,2015.0,26.000000,47.000000,10.500000,19.850000,2.700000,5.900000,0.432000,0.450000,1.400000,...,12.900000,18.400000,0.600000,0.800000,1.400000,0.082500,-1.000000,-0.500000,-1.300000,0.100000
75%,2015.0,29.000000,59.000000,39.000000,28.175000,4.275000,9.600000,0.481750,1.000000,3.075000,...,15.900000,21.900000,1.600000,1.500000,3.000000,0.123000,0.500000,0.875000,0.500000,0.700000
max,2015.0,38.000000,66.000000,66.000000,38.900000,9.500000,21.400000,1.000000,3.400000,8.000000,...,100.000000,45.900000,9.500000,4.300000,13.000000,1.489000,28.300000,6.500000,15.100000,6.200000

#### #6. Sort the data set in on the `players` column in alphabetical order.

In [10]:
df=nba_df.sort_values(by='player',ascending=True)
df.head()

,season_end,player,pos,age,bref_team_id,g,gs,mp,fg,fga,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
359,2015,A.J. Price,G,28,TOT,21,0,13.3,2.3,5.9,...,8.9,23.6,0.2,0.2,0.4,0.072,0.5,-2.8,-2.4,0.0
60,2015,Aaron Brooks,G,30,CHI,65,9,21.0,3.9,9.3,...,15.5,25.7,1.1,1.0,2.1,0.073,0.7,-2.8,-2.1,0.0
166,2015,Aaron Gordon,F,19,ORL,30,6,15.2,1.9,3.8,...,17.0,15.9,0.3,0.3,0.6,0.066,-2.5,-0.5,-3.1,-0.1
348,2015,Adreian Payne,F,23,TOT,12,3,19.7,2.3,6.1,...,13.6,17.7,-0.3,0.1,-0.1,-0.024,-5.8,-2.5,-8.3,-0.4
212,2015,Al Horford,C,28,ATL,60,60,30.8,6.8,12.6,...,9.1,22.1,4.6,3.0,7.5,0.195,1.7,2.7,4.5,3.0

#### #7. Filter the data set. Create three sub DataFrames from the `position` column for `G`, `F`, and `C`.

In [17]:
df1=nba_df[nba_df["pos"]=='G']
df1.head()

,season_end,player,pos,age,bref_team_id,g,gs,mp,fg,fga,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
1,2015,Jordan Adams,G,20,MEM,18,0,7.3,1.0,2.1,...,15.9,17.7,0.0,0.2,0.2,0.076,-2.3,1.8,-0.5,0.0
4,2015,Arron Afflalo,G,29,TOT,60,54,32.5,5.0,11.8,...,10.9,19.6,1.4,0.7,2.1,0.051,-0.2,-1.4,-1.6,0.2
10,2015,Tony Allen,G,33,MEM,54,36,25.6,3.5,7.0,...,14.1,16.4,0.8,2.6,3.4,0.118,-0.3,3.6,3.2,1.8
14,2015,Alan Anderson,G,32,BRK,62,19,23.8,2.5,5.7,...,11.8,13.7,1.3,0.9,2.1,0.070,-0.2,-0.3,-0.5,0.6
17,2015,Giannis Antetokounmpo,G,20,MIL,63,53,30.4,4.6,9.3,...,16.4,19.7,1.6,3.2,4.8,0.121,-1.6,2.6,1.0,1.5

In [18]:
df2=nba_df[nba_df["pos"]=='F']
df2.head()

,season_end,player,pos,age,bref_team_id,g,gs,mp,fg,fga,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
0,2015,Quincy Acy,F,24,NYK,52,21,19.2,2.2,4.6,...,15.1,14.7,0.6,0.5,1.0,0.050,-2.6,-0.7,-3.4,-0.3
3,2015,Jeff Adrien,F,28,MIN,17,0,12.6,1.1,2.6,...,12.9,14.1,0.2,0.2,0.4,0.093,-2.6,0.8,-1.8,0.0
6,2015,Furkan Aldemir,F,23,PHI,25,1,10.7,0.6,1.3,...,21.1,7.8,0.3,0.4,0.7,0.127,-2.9,3.1,0.2,0.2
8,2015,LaMarcus Aldridge,F,29,POR,54,54,36.2,9.1,20.2,...,7.3,29.9,3.3,3.2,6.5,0.161,-0.4,0.3,-0.1,0.9
9,2015,Lavoy Allen,F,25,IND,47,0,19.6,2.7,5.5,...,10.0,15.2,1.5,1.4,2.9,0.152,-0.5,2.4,1.9,0.9

In [ ]:

df3=nba_df[nba_df["pos"]=='C']
df3.head()

,season_end,player,pos,age,bref_team_id,g,gs,mp,fg,fga,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
2,2015,Steven Adams,C,21,OKC,51,50,24.2,3.0,5.5,...,19.2,14.8,1.0,1.8,2.8,0.109,-2.0,2.0,-0.1,0.6
5,2015,Alexis Ajinca,C,26,NOP,51,6,14.0,2.8,4.8,...,15.3,20.8,1.8,0.9,2.7,0.181,0.4,0.2,0.7,0.5
7,2015,Cole Aldrich,C,26,NYK,45,12,15.9,2.3,4.8,...,15.5,17.9,0.4,0.9,1.3,0.089,-2.6,2.3,-0.3,0.3
13,2015,Chris Andersen,C,36,MIA,46,18,19.5,1.9,3.3,...,11.3,11.7,1.8,1.1,3.0,0.159,-1.0,2.2,1.3,0.7
19,2015,Joel Anthony,C,32,DET,32,0,5.8,0.5,0.8,...,15.9,8.9,0.2,0.3,0.5,0.123,-4.5,3.9,-0.6,0.1

#### #8.  Run `describe()` on these new DataFrames. Compare the mean field goals (the `fg` column) between positions.

In [20]:
df1.describe()

,season_end,age,g,gs,mp,fg,fga,fg_,x3p,x3pa,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
count,200.0,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,...,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000
mean,2015.0,26.140000,42.365000,19.475000,21.308000,3.200000,7.736500,0.391610,0.928500,2.712000,...,13.732500,20.330500,1.030500,0.849500,1.881500,0.047755,-1.019000,-1.310500,-2.329000,0.473000
std,0.0,4.193846,18.939782,22.103216,9.463622,2.042267,4.500555,0.088114,0.684089,1.713487,...,5.518393,5.378434,1.780441,0.795275,2.351949,0.135217,4.654218,2.022993,5.821849,1.136056
min,2015.0,19.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,7.600000,-2.100000,-0.100000,-0.800000,-1.059000,-36.800000,-13.500000,-50.300000,-0.900000
25%,2015.0,23.000000,28.750000,0.000000,13.375000,1.600000,4.075000,0.370750,0.400000,1.400000,...,10.275000,16.775000,0.000000,0.200000,0.200000,0.023750,-2.000000,-2.300000,-3.525000,-0.100000
50%,2015.0,25.500000,47.000000,9.500000,22.150000,2.900000,7.000000,0.406000,0.900000,2.500000,...,13.550000,19.900000,0.500000,0.700000,1.100000,0.067500,-0.500000,-1.300000,-1.800000,0.000000
75%,2015.0,29.000000,60.000000,36.000000,29.825000,4.500000,11.100000,0.435250,1.400000,3.800000,...,16.300000,23.400000,1.500000,1.200000,2.700000,0.109250,0.900000,-0.100000,0.200000,0.600000
max,2015.0,38.000000,66.000000,66.000000,38.900000,9.300000,21.400000,0.523000,3.400000,8.000000,...,45.000000,45.900000,9.500000,3.500000,13.000000,0.289000,9.400000,6.500000,12.000000,6.200000

In [21]:

df1['fg'].describe()['mean']

np.float64(3.2)

In [22]:
df2.describe()

,season_end,age,g,gs,mp,fg,fga,fg_,x3p,x3pa,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
count,199.0,199.000000,199.000000,199.000000,199.000000,199.000000,199.000000,199.000000,199.000000,199.000000,...,199.000000,199.000000,199.000000,199.000000,199.000000,199.00000,199.000000,199.000000,199.000000,199.000000
mean,2015.0,26.934673,41.879397,18.788945,19.141709,2.846734,6.321608,0.440688,0.558291,1.657789,...,12.425628,17.953266,1.017085,0.987437,2.001508,0.09007,-1.370854,-0.251256,-1.621608,0.487940
std,0.0,4.377485,19.032283,22.174826,9.204145,2.055217,4.247767,0.113317,0.595284,1.658960,...,7.543102,5.274225,1.442959,0.888702,2.118306,0.13492,3.926709,2.340829,4.454924,0.914781
min,2015.0,19.000000,1.000000,0.000000,0.700000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,7.800000,-1.300000,0.000000,-0.400000,-0.33700,-25.500000,-13.300000,-35.100000,-1.000000
25%,2015.0,23.500000,26.500000,0.000000,11.550000,1.300000,3.100000,0.398000,0.000000,0.100000,...,9.500000,14.150000,0.000000,0.300000,0.300000,0.04950,-2.950000,-1.200000,-3.100000,-0.100000
50%,2015.0,26.000000,48.000000,7.000000,18.400000,2.300000,5.200000,0.444000,0.400000,1.200000,...,11.700000,17.700000,0.500000,0.800000,1.400000,0.08900,-1.100000,-0.100000,-1.000000,0.200000
75%,2015.0,29.500000,58.000000,39.500000,27.450000,4.000000,8.700000,0.488000,1.000000,2.850000,...,14.050000,20.850000,1.550000,1.500000,3.100000,0.12500,0.200000,0.900000,0.450000,0.800000
max,2015.0,38.000000,66.000000,65.000000,36.200000,9.500000,20.200000,1.000000,2.400000,6.900000,...,100.000000,45.900000,8.100000,4.300000,11.100000,1.48900,28.300000,4.600000,15.100000,4.600000

In [23]:

df2['fg'].describe()['mean']

np.float64(2.8467336683417086)

In [24]:
df3.describe()

,season_end,age,g,gs,mp,fg,fga,fg_,x3p,x3pa,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
count,79.0,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000,...,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000
mean,2015.0,26.759494,42.012658,23.620253,19.126582,2.989873,5.922785,0.495608,0.058228,0.186076,...,15.159494,17.755696,1.217722,1.239241,2.460759,0.097392,-2.418987,0.950633,-1.470886,0.513924
std,0.0,3.810294,19.005056,22.214747,8.937629,2.060595,4.075409,0.120526,0.211592,0.571264,...,5.933035,5.592709,1.431402,0.986371,2.240674,0.114917,3.832823,2.003578,4.727881,0.926495
min,2015.0,20.000000,2.000000,0.000000,2.800000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,-1.000000,0.000000,-0.300000,-0.738000,-28.000000,-5.700000,-28.800000,-0.600000
25%,2015.0,24.000000,29.500000,2.500000,12.700000,1.500000,2.850000,0.460500,0.000000,0.000000,...,12.150000,13.650000,0.200000,0.300000,0.600000,0.076000,-3.250000,-0.300000,-2.700000,-0.100000
50%,2015.0,26.000000,46.000000,18.000000,19.200000,2.800000,5.300000,0.505000,0.000000,0.000000,...,15.300000,17.900000,0.800000,1.200000,2.100000,0.115000,-1.900000,1.100000,-0.900000,0.200000
75%,2015.0,29.500000,58.500000,43.500000,25.900000,4.100000,7.600000,0.551000,0.000000,0.100000,...,17.550000,21.150000,1.850000,1.800000,3.650000,0.146000,-0.200000,2.300000,0.750000,0.700000
max,2015.0,37.000000,65.000000,64.000000,35.400000,8.600000,17.400000,0.857000,1.400000,3.800000,...,43.200000,35.700000,6.100000,4.100000,9.900000,0.231000,2.100000,5.500000,5.800000,3.600000

In [26]:

df3['fg'].describe()['mean']

np.float64(2.9898734177215194)

The end!

#### Great job!